In [75]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import missingno as msno

In [76]:
customers = pd.read_csv('customers.csv')
netflix_userbase = pd.read_csv('netflix_userbase.csv')

In [77]:
customers.head()

,CustomerID,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size
0,1,Male,19,15000,39,Healthcare,1,4
1,2,Male,21,35000,81,Engineer,3,3
2,3,Female,20,86000,6,Engineer,1,1
3,4,Female,23,59000,77,Lawyer,0,2
4,5,Female,31,38000,40,Entertainment,2,6

In [78]:
netflix_userbase.head()

,User ID,Subscription Type,Monthly Revenue,Join Date,Last Payment Date,Country,Age,Gender,Device,Plan Duration
0,1,Basic,10,15-01-22,10-06-23,United States,28,Male,Smartphone,1 Month
1,2,Premium,15,05-09-21,22-06-23,Canada,35,Female,Tablet,1 Month
2,3,Standard,12,28-02-23,27-06-23,United Kingdom,42,Male,Smart TV,1 Month
3,4,Standard,12,10-07-22,26-06-23,Australia,51,Female,Laptop,1 Month
4,5,Basic,10,01-05-23,28-06-23,Germany,33,Male,Smartphone,1 Month

In [79]:
def column_name_normalize(df):
    df.columns = df.columns.str.lower()
    df.columns = df.columns.str.replace(' ', '_')
    return df

In [80]:
customers = column_name_normalize(customers)
netflix_userbase = column_name_normalize(netflix_userbase)

In [81]:
customers.rename(columns={'annual_income_($)': 'annual_income'}, inplace=True)
customers.rename(columns={'spending_score_(1-100)': 'spending_score'}, inplace=True)

In [82]:
customers.head()

,customerid,gender,age,annual_income,spending_score,profession,work_experience,family_size
0,1,Male,19,15000,39,Healthcare,1,4
1,2,Male,21,35000,81,Engineer,3,3
2,3,Female,20,86000,6,Engineer,1,1
3,4,Female,23,59000,77,Lawyer,0,2
4,5,Female,31,38000,40,Entertainment,2,6

In [83]:
netflix_userbase.head()

,user_id,subscription_type,monthly_revenue,join_date,last_payment_date,country,age,gender,device,plan_duration
0,1,Basic,10,15-01-22,10-06-23,United States,28,Male,Smartphone,1 Month
1,2,Premium,15,05-09-21,22-06-23,Canada,35,Female,Tablet,1 Month
2,3,Standard,12,28-02-23,27-06-23,United Kingdom,42,Male,Smart TV,1 Month
3,4,Standard,12,10-07-22,26-06-23,Australia,51,Female,Laptop,1 Month
4,5,Basic,10,01-05-23,28-06-23,Germany,33,Male,Smartphone,1 Month

In [84]:
customers.dropna(inplace=True)
netflix_userbase.dropna(inplace=True)

In [85]:
# join_date and last_payment_date is now format as 10-06-23 (DD-MM-YY), we need to convert it to 2010-06-23 (YYYY-MM-DD)

def convert_date(df):
    df['join_date'] = pd.to_datetime(df['join_date'], format='%d-%m-%y')
    df['last_payment_date'] = pd.to_datetime(df['last_payment_date'], format='%d-%m-%y')
    return df

In [86]:
netflix_userbase = convert_date(netflix_userbase)

In [87]:
netflix_userbase.head()

,user_id,subscription_type,monthly_revenue,join_date,last_payment_date,country,age,gender,device,plan_duration
0,1,Basic,10,2022-01-15,2023-06-10,United States,28,Male,Smartphone,1 Month
1,2,Premium,15,2021-09-05,2023-06-22,Canada,35,Female,Tablet,1 Month
2,3,Standard,12,2023-02-28,2023-06-27,United Kingdom,42,Male,Smart TV,1 Month
3,4,Standard,12,2022-07-10,2023-06-26,Australia,51,Female,Laptop,1 Month
4,5,Basic,10,2023-05-01,2023-06-28,Germany,33,Male,Smartphone,1 Month

In [88]:
# Save back to csv
customers.to_csv('customers.csv', index=False)
netflix_userbase.to_csv('netflix_userbase.csv', index=False)